@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;  
    overflow-x: hidden; 
}

.container-titulo {
    width: 100%;
    background-color: #FFF159;
    padding: 10px;
}

.titulo {
    display: flex;
    justify-content: center; 
}

header img {
    width: 150px;      
}

#logo-menor {
    display: none;
    width: 90px;
    height: 50px;
}

#disney {
    height: 30px;    
    padding-top: 5px;
}

.busca {
    width: 600px;
    height: 40px;
    padding-left: 10px;
    font-size: 0.9em;
}

.container-menu {
    display: flex;
    justify-content: center; 
    font-weight: bold; 
}

.lista-menu {
    list-style: none;
    display: flex;
    margin-top: 25px;
}

.lista-menu li {
    display: flex;
    margin: 0 10px;   
}

.lista-menu li a {
    text-decoration: none; 
    color: rgb(54, 54, 54);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;  
}

#list-menu2 {
    font-weight: bold;
    padding-left: 100px;
}

.dropdown {
    display: inline-block;
}

.dropdown li a {
    display: flex;
}

.dropdown li a i {
    padding-top: 4px;
    padding-left: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    padding: 15px 15px;
    margin-top: 10px;
    background-color: rgb(43, 43, 43);
    min-width: 130px;    
    line-height: 35px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: white; 
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

body {
    background-color: lightgray;
}

.container-modal {
    background-color: lightgray;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container-produto {
    display: flex; 
    justify-content: center;
    background-color: white;
    border-radius: 5px;  
    margin-bottom: 140px; 
}

.camisa-mini {
    padding: 20px;      
}

.camisa-mini img {
    width: 80px;
    height: 90px;
    border: 1px solid black; 
    border-radius: 4px; 
}

.camisa-big {
    padding: 90px 130px 0px 50px;
     
}

.camisa-big img {
    width: 400px;
    height: 500px;  
    border-bottom: 1px solid black; 
    padding-bottom: 50px; 
}

.description {
    height: 700px;
    width: 325px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 10px;
    border: 1px solid black; 
    border-radius: 5px;   
    margin: 10px;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 5px;
}

.description p {
    padding-top: 25px;
}

.description h2 {
    padding-top: 15px;
}

.description h3 {
    padding-top: 20px;
    font-size: 2rem;
}

.cor {
    color: green;
    font-weight: bold;
}

.bx {
    padding-right: 5px;    
}

.retire-gratis {
    display: flex; 
    color: green; 
}

.bx2 {
    padding-top: 40px;
    padding-right: 13px;
}

.tamanhos ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-top: 5px;    
}

.tamanhos ul li {
    margin-right: 15px;
    padding: 4px 10px;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 7px;   
}

.tamanhos ul li:hover {
    border: 2px solid #3883f5;
}

.esto-disp {
    font-size: 0.8rem;
    font-weight: bold;
}

.format-disp {
    font-size: 0.7rem;
}

button {
    width: 100%;
    height: 45px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    margin-top: 20px;   
}

.botao {
    display: block;
    padding-top: 20px;
    text-align: center; 
}



.botao1 {
    background-color: #3883f5;
    color: white;
    font-weight: bold;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.botao1:hover {
    background-color: #1772fc;
}

.botao2 {
    background-color: #c7e0fc;
    color: #3883f5;
    font-weight: bold;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.botao2:hover {
    background-color: #b1d6ff;
}